/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 1rem;
    background-color: #f2f2f2;
    overflow: auto;
    scroll-behavior: smooth;
    /* background-image: url("/images/background.png"); Set the path to your background image */
    /* background-size: cover; Cover the entire body with the background image */
    /* background-position: center; Center the background image */
    /* background-attachment: fixed; Keep the background image fixed while scrolling */
}

:root{
    /* ===== Colors ===== */
    --primary-color: #7bb701;
    --colorOrange: #f0a60f;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --title-icon-color: #fff;
    
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

body{
    min-height: 100vh;
    background-color: #f2f2f2;
    margin: 0; 
    padding: 0; 
}

/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover{
    background:var(--primary-color);
}

/** sidebar and heading css**/
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
    box-shadow:1px 0px 4px rgba(0,0,0,0.5);
    z-index: 2;
 
}
nav.close{
    width: 73px;
}
nav .logo-name{
    display: flex;
    align-items: center;
}
nav .logo-image{
    display: flex;
    justify-content: center;
    min-width: 50px;
}
nav .logo-image img{
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    padding-left: 0 !important;
}

nav .logo-name .logo_name{
    margin-top: 10px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
     white-space: nowrap; /* Prevent text from wrapping to the next line */
    text-size-adjust: auto; /* Let the browser automatically adjust the text size */
    
}
nav.close .logo_name{
    opacity: 0;
    pointer-events: none;
}
nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-items li{
    list-style: none;
}
.menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}

.nav-links,
.logout-mode
{
    padding-left: 0;
}
.nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}


.nav-links li a.active i {
    color: var(--primary-color); 
}
.nav-links li a.active span {
    color: var(--primary-color); 
}

body.dark li a:hover:before{
    background-color: var(--text-color);
}
.menu-items li a i{
    font-size: 28px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}
.menu-items li a .link-name{
    font-size: 19px;
    margin-left: 5px;
    font-weight: 400;
    color: var(--black-light-color);    
    transition: var(--tran-05);
}
nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: var(--primary-color);
}
body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name{
    color: var(--text-color);
}
.menu-items .logout-mode{
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}
.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.menu-items .mode img{
    width: 40px;
    border-radius: 50%;
}
.dashboard{
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
   
}
nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 1;

}

nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top .sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
    
}
.dashboard .top .heading{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;

}
.icons {
    font-size: 24px;
    min-width: 45px;
    height: 100%;

    display: flex;
    align-items: center; 
    margin-left: auto; 
    margin-right: 20px; 
}

.notification-icon,
.message-icon {
    margin-right: 10px; 
    color: var(--black-light-color);
}
.notification-icon a i,
.message-icon a i{
    color: var(--black-light-color);
}

.notification-icon a i:hover,
.message-icon a i:hover{
    color: var(--primary-color);
}


/* Style for the notification button */
.notification-icon {
    position: relative;
    cursor: pointer;
}

/* Style for the notification dropdown */
#notification-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 300px; /* Adjust the width as needed */
    background-color: #fff;
    border: 1px solid var(--primary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
    padding: 10px 0;
    border-radius: 10px;
}

#notification-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#notification-dropdown h2 {
    font-size: 20px;
    color: var(--primary-color);
}



#notification-dropdown ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 14px; 
 

}
#notification-dropdown ul li a{

    color: var(--text-color);
    text-decoration: none;

}

#notification-dropdown ul li:first-child {
    border-top: 1px solid #ddd;
}
#notification-dropdown ul li:last-child {
    border-bottom: none;
}

/* Show the dropdown when hovering over the notification button */
.notification-icon:hover #notification-dropdown {
    display: block;
}

/* Style the profile dropdown container */
.profile-dropdown {
    position: relative; /* Ensure it's a positioned element for absolute positioning */
    display: inline-block; /* Display it inline with the content */
    margin-right: 20px; /* Add spacing to the right */
}

/* Style the image */
.profile-dropdown img {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    cursor: pointer; /* Change the cursor to a pointer to indicate it's clickable */
}

/* Style the name */
.link-name {
    font-weight: bold; /* Add some styling to the name */
    margin-left: 10px; /* Add spacing to the left of the name */
}

/* Style the submenus */
.sub-menus {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width:200px; 
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(125, 29, 29, 0.2);
    border-color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    z-index: 1;
    list-style: none;
    padding: 5px;
    text-align: center; /* Center align the contents */
}

.sub-menus li{
    font-size:0.90rem;
}

.sub-menus li a:hover{
 color: var(--primary-color);
}
/* Style the profile info container */
.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the content horizontally */
    margin-bottom: 10px; /* Add spacing between profile info and other items */
}
.profile-image{
    border-radius: 50%;
    border: 1px solid var(--primary-color);
}
    
/* Style the profile image */
.profile-image img {
    margin-top: 5px;
    width: 110px;
    height: 110px;
    cursor: pointer;
    
}
/* Style the submenu items */
.sub-menus li:not(.profile-info) {
    text-align: left; /* Left align the other items */
    margin-left: 10px; /* Add spacing to the left of other items */
}

/* Style the submenu links */
.sub-menus a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px 0;
}
/* Style the link name */
.linkname {
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--primary-color);
    position: relative;
    padding-bottom: 5px;
}

/* Style the line underneath the link name */
.linkname::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--colorOrange);
}

/* Style the submenu items */
.menu-item {
    text-align: left;
    margin-left: 10px;
}

/* Style the submenu links */
.menu-item a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px 0;
}


.top .heading h1{
    position: flex;
    text-align: center;
    margin-left: 8rem;
    padding-top: 40px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--primary-color);
}

/**PROGRESS**/

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.progress-container {
    width: 80%;
    margin: 0 auto;
    background-color: #ccc;
    height: 20px;
    border-radius: 10px;
}

.progress-bar {
    width: 0;
    height: 100%;
    background-color: #4CAF50;
    border-radius: 10px;
    transition: width 0.3s ease-in-out;
}

.step {
    margin-top: 20px;
}

.complete-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

#add-step-button {
    margin-top: 20px;
}

.title{
    background-color: #7BB701;
    background-position: center;
    border-radius: 5px;
    width: auto;
    height: 40px;
    box-shadow:1px 1px 5px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 20px 20px 20px;
}

.title h1{
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    color:#FFFFFF;
    text-transform: uppercase;
}


@media (max-width: 1000px) {
    nav{
        width: 73px;
    }
    nav.close{
        width: 250px;
    }

    nav.menu-items.close{
        display: none;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 1;
        pointer-events: auto;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 1;
        pointer-events: auto;
    }
    nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard{
        left: 250px;
        width: calc(100% - 250px);
    }
    nav ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard .top{
        left: 250px;
        width: calc(100% - 250px);
    }

    
}

@media (max-width: 780px) {
    .dash-content .boxes .box{
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }

    .top .heading h1{
        margin-left: 0;
        position: flex;
        text-align: center !important;
        font-size: 13px;
      
    }
    
    nav .logo-image,
    nav .logo-image img{
        size: 1px;
        justify-content: center;
     
    }
   
    .dash-content .user-stats{
        gap: 0;
        flex-direction: column;
        align-items: center;
        margin: 0;
     
    }
    .dash-content .user-stats .total-users h1,
    .dash-content .user-stats .inactive-active-users h1{
        font-size: 20px;
    }
    .dashboard .top{
        box-shadow:1px 0px 4px rgba(0,0,0,0.5);
    }
 
   .dashboard{
    z-index: 2;
   }
   .dash-content .total-users .name h1,
   .dash-content .inactive-active-users .name h1 {
    font-size: 15px;
    
    }
  
   
    .heading h1 {
        text-align: left; /* Align heading text to the left */
    }
    
    .icons {
        margin-top: 10px; /* Add spacing between icons and other content */
    }
    
    .profile-dropdown {
        margin-top: 10px; /* Add spacing between profile dropdown and other content */
    }
    #notification-dropdown {
        width: 100px; /* Full width for smaller screens */
    }

    #notification-dropdown h2 {
        font-size: 10px; /* Reduce font size for smaller screens */
    }

    #notification-dropdown ul li {
        font-size: 8px; /* Reduce font size for smaller screens */
    }
    }

@media (max-width: 560px) {
    .dash-content .boxes .box{
        width: 100% ;
    }
}
@media (max-width: 400px) {
    nav{
        width: 0px;
    }
    nav.close{
        width: 73px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav ~ .dashboard{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard .top{
        left: 0;
        width: 100%;
    }

    nav .logo-image,
    nav .logo-image img{
        display: none;
     
    }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }


}

/* SCHEDULE*/
body.schedule {
    margin: 0;
    padding: 0;
    background-color: transparent; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    overflow-x: hidden;

}
.schedule-wrapper {
    margin-top:63px; 
    margin-bottom: 0;
    padding: 10px; 
  }
.outer * {
    margin-top: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    text-decoration: none;
    list-style: none;
}

.outer img {
    width: 100%;
}

.outer .anim04c {
    -webkit-transition: all .4s cubic-bezier(.5, .35, .15, 1.4);
    transition: all .4s cubic-bezier(.5, .35, .15, 1.4);
}

.outer {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
}

.signboard {
    width: 100px;
    height: 100px;
    margin: auto;
    color: #fff;
    border-radius: 10px;
}


.front {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background: var(--primary-color);
    text-align: center;
}
.right {
    position: absolute;
    right: 0;
    z-index: 2;
    -webkit-transform: rotate(-10deg) translate(7px, 8px);
    -moz-transform: rotate(-10deg) translate(7px, 8px);
    -ms-transform: rotate(-10deg) translate(7px, 8px);
    -o-transform: rotate(-10deg) translate(7px, 8px);
    transform: rotate(-10deg) translate(7px, 8px);
    background: var(--colorOrange)
}
.left {
    position: absolute;
    left: 0;
    z-index: 1;
    -webkit-transform: rotate(5deg) translate(-4px, 4px);
    -moz-transform: rotate(5deg) translate(-4px, 4px);
    -ms-transform: rotate(5deg) translate(-4px, 4px);
    -o-transform: rotate(5deg) translate(-4px, 4px);
    transform: rotate(5deg) translate(-4px, 4px);
    background: #3498DB;
}

.outer:hover .inner {
    -webkit-transform: rotate(0) translate(0);
    -moz-transform: rotate(0) translate(0);
    -ms-transform: rotate(0) translate(0);
    -o-transform: rotate(0) translate(0);
    transform: rotate(0) translate(0);
}


.outer:active .inner {
    -webkit-transform: rotate(0) translate(0) scale(0.9);
    -moz-transform: rotate(0) translate(0) scale(0.9);
    -ms-transform: rotate(0) translate(0) scale(0.9);
    -o-transform: rotate(0) translate(0) scale(0.9);
    transform: rotate(0) translate(0) scale(0.9);
}
.outer:active .front .date {
    -webkit-transform: scale(2);
}
.outer:active .front .day,
.outer:active .front .month {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.outer:active .right {
    -webkit-transform: rotate(-5deg) translateX(80px) scale(0.9);
    -moz-transform: rotate(-5deg) translateX(80px) scale(0.9);
    -ms-transform: rotate(-5deg) translateX(80px) scale(0.9);
    -o-transform: rotate(-5deg) translateX(80px) scale(0.9);
    transform: rotate(-5deg) translateX(80px) scale(0.9);
}
.outer:active .left {
    -webkit-transform: rotate(5deg) translateX(-80px) scale(0.9);
    -moz-transform: rotate(5deg) translateX(-80px) scale(0.9);
    -ms-transform: rotate(5deg) translateX(-80px) scale(0.9);
    -o-transform: rotate(5deg) translateX(-80px) scale(0.9);
    transform: rotate(5deg) translateX(-80px) scale(0.9);
}


.outer:active .calendarMain {
    -webkit-transform: scale(1.8);
    opacity: 0;
    visibility: hidden;
}
.outer:active .clock {
    -webkit-transform: scale(1.4);
    opacity: 1;
    visibility: visible;
}
.outer:active .calendarNormal {
    bottom: -30px;
    opacity: 1;
    visibility: visible;
}
.outer:active .year {
    top: -30px;
    opacity: 1;
    visibility: visible;
    letter-spacing: 3px;
}


.calendarMain {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 1;
}
.month,
.day {
    font-size: 10px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.date {
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.clock {
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 40px;
    line-height: 100px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
}


.year {
    width: 100%;
    position: absolute;
    top: 0;
    font-size: 14px;
    line-height: 30px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    color:  var(--primary-color);;
}
.calendarNormal {
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 14px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
}
.date2 {
    color:  var(--primary-color);;
}
.day2 {
    color: #3498DB;
}
.month2 {
    color:  var(--colorOrange);
}

.info {
    width: 100%;
    height: 25%;
    position: absolute;
    top: 15%;
    text-align: center;
    opacity: 0;
}
.info li {
    width: 100%;
}
.hover,
.click,
.yeaa {
    font-size: 14px;
    line-height: 25px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    bottom: 0;
    opacity: 1;
}
.dribbble {
    position: absolute;
    top: -60px;
    font-size: 14px;
    opacity: 0;
}
em {
    color:  var(--primary-color);;
}
.designer {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    text-align: center;
    opacity: 0;
}
.designer li {
    width: 100%;
    position: absolute;
    bottom: 30%;
}
.designer a {
    width: 30px;
    height: 30px;
    display: block;
    position: relative;
    border-radius: 100%;
    margin: auto;
    color: rgba(46, 204, 113, 0.55);
}
.designer a:after {
    content: "see designs";
    position: absolute;
    top: 0;
    left: 40px;
    font-size: 14px;
    line-height: 33px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    white-space: nowrap;
}
.designer a:hover:after {
    color: #2ecc71;
}
.designer img {
    display: block;
    border-radius: 100%;
}
body:hover .info,
body:hover .designer {
    opacity: 1;
}
::selection {
    background: transparent;
}
::-moz-selection {
    background: transparent;
}



/* Add additional styles as needed */
.schedule-descrip {
    flex: 1;
    width: 40%; /* Adjust the width as needed */
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 20px;
    margin-left: 70px;
    box-sizing: border-box;
    margin-top: 10px;
    float: left;
    border-radius: 10px;
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.5);
    max-height: 550px; /* Set a maximum height for the element */
    overflow: auto; /* Add a scrollbar when content overflows the maximum height */
}

/* Add additional styles as needed */
.schedule-descrip h1 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.schedule-item {
    border: 1px solid #ccc;
    padding-left: 8px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-between; /* Align content to the left and right */
    align-items: center; /* Center vertically */
}

.schedule-item:nth-child(even):hover {
    background-color:#92b6a1;

}

.schedule-item:nth-child(odd):hover {
    background-color:#d1bc86;

}
/* Add left border color for odd elements */
.schedule-item:nth-child(odd) {
    border-left: 4px solid var(--colorOrange); /* Orange color for odd elements */

}

/* Add left border color for even elements */
.schedule-item:nth-child(even) {
    border-left: 4px solid var(--primary-color); /* Green color for even elements */
}
.left-content {
    flex: 1; /* Take up available space in the left content */
    text-align: left;
}

.right-content {
    border-radius: 10px;
   
    width: 17%; /* Adjust the width as needed for the date */
    text-align: center;
   
}

/* Apply alternating background colors to schedule items */
.schedule-item:nth-child(even) .right-content {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.schedule-item:nth-child(odd) .right-content {
    background-color: var(--colorOrange);
    border: 1px solid var(--colorOrange);
}

.schedule-date {
    font-size: 23px;
    font-weight: bold;
    margin: 0!important;
    padding: 0!important;
    color: #FFFFFF;
}
.schedule-month {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0!important;
    padding: 0!important;
    color: #FFFFFF;
}

.schedule-year {
    font-size: 10px;
    margin: 0!important;
    padding: 0!important;
    color: #FFFFFF;
}
.schedule-time {
    font-size: 11px;
    color: #555;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 0;
}

.schedule-description {
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 0;
}

.container {
    display: flex;
    float: right;
    margin-right: 70px;
    width: 40%; 
    padding: 20px;


  }
  
  /* Calendar styles */
  .calendar {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
    padding: 20px;
  }
    .wrapper header{
        display: flex;
        align-items: center;
        padding: 25px 30px 10px;
        justify-content: space-between;
    }
    header .icons {
        display: flex;
        justify-content: center;
        align-items: center; 
    }
  header .icons span{
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: var(--primary-color);
    align-items: center;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
  }

  .icons span:last-child{
    margin-right: -10px;
  }
  header .icons span:hover{
    background: #f2f2f2;
  }
  header .current-date{
    font-size: 1.45rem;
    font-weight: 500;
  }
  .calendar{
    padding: 20px;
  }
  .calendar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
  }
  .calendar .days{
    margin-bottom: 20px;
  }
  .calendar li{
    color: #333;
    width: calc(100% / 7);
    font-size: 1.07rem;
  }
  .calendar .weeks li{
    font-weight: 500;
    cursor: default;
  }
  .calendar .days li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
  }
  .days li.inactive{
    color: #aaa;
  }
  .days li.active{
    color: #fff;
  }
  .days li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  .days li.active::before{
    background: var(--primary-color);
  }
  .days li:not(.active):hover::before{
    background: #f2f2f2;
  }
  .current-date {
    font-size: 1.45rem; 
    font-weight: 500; 
    color: var(--colorOrange); 

}
ul.days::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border: 2px solid cornflowerblue;
    border-radius: 0; 
}

ul.days .scheduled::before {
    border: 2px solid cornflowerblue;
    border-radius: 0;
}

  .labels {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 13px;
  }
  
  .label {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .current-label {
    color: var(--primary-color); /* Green color for current date label */
  }
  
  .monitoring-label {
    color: cornflowerblue; /* Blue color for monitoring dates label */
  }
  
  .shape {
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }
  
  .circle {
    border-radius: 50%;
    background-color: var(--primary-color); /* Green circle for current date */
  }
  
  .square {
    border: 2px solid cornflowerblue; /* Blue square border for monitoring dates */
  }

  @media (max-width: 1000px) {
    .container {
        width: 100%; /* Take up full width */
        margin: 0; /* Remove margin */
    }
    
    .schedule-descrip {
        width: 100%; /* Take up full width */
        margin-left: 0; /* Remove left margin */
        margin-top: 0; /* Remove top margin */
    }



    .calendar {
        width: 100%; /* Take up full width */
        margin-right: 0; /* Remove right margin */
    }

    .title{  
        margin: 90px 20px 20px 20px;
    }
}