/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 1rem;
    background: var(--colorWhite);
    overflow: auto;
    scroll-behavior: smooth;
    /* background-image: url("/images/background.png"); Set the path to your background image */
    /* background-size: cover; Cover the entire body with the background image */
    /* background-position: center; Center the background image */
    /* background-attachment: fixed; Keep the background image fixed while scrolling */
}

:root{
    /* ===== Colors ===== */
    --primary-color: #7bb701;
    --colorOrange: #f0a60f;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --title-icon-color: #fff;
    
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

body{
    min-height: 100vh;
    background-color: var(--primary-color);
    margin: 0; 
    padding: 0; 
}

/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover{
    background:var(--primary-color);
}

/** sidebar and heading css**/
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
    box-shadow:1px 0px 4px rgba(0,0,0,0.5);
    z-index: 2;
 
}
nav.close{
    width: 73px;
}
nav .logo-name{
    display: flex;
    align-items: center;
}
nav .logo-image{
    display: flex;
    justify-content: center;
    min-width: 50px;
}
nav .logo-image img{
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    padding-left: 0 !important;
}

nav .logo-name .logo_name{
    margin-top: 10px;
    font-size: 40px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
}
nav.close .logo_name{
    opacity: 0;
    pointer-events: none;
}
nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-items li{
    list-style: none;
}
.menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}
.nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}


.nav-links li a.active i {
    color: var(--primary-color); 
}
.nav-links li a.active span {
    color: var(--primary-color); 
}

body.dark li a:hover:before{
    background-color: var(--text-color);
}
.menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}
.menu-items li a .link-name{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);    
    transition: var(--tran-05);
}
nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: var(--primary-color);
}
body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name{
    color: var(--text-color);
}
.menu-items .logout-mode{
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}
.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.menu-items .mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}
.switch:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}

.dashboard{
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
   
}
nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 1;

}
nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top .sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
    
}
.dashboard .top .heading{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;

}

.top .heading h1{
    position: flex;
    text-align: center;
    margin-left: 8rem;
    padding-top: 40px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--primary-color);
}

/** Home Content CSS**/

.body.home{
    background-color: #f2f2f2;

}

.dash-content .picture img{
    margin-top: 40px;
    width: 100%;
    max-height: 250px;
    height: 250px;
    border-radius: 10px;
}

.dash-content {
    max-width: 100%;
    margin: 0 auto;
   
}


.dash-content .user-stats {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 20px;
}

.dash-content .total-users, 
.dash-content .inactive-active-users {
    width: 50%;
    flex-wrap: wrap;
}


/* Styling for h1 tags above the boxes */
.dash-content .total-users .name h1,
.dash-content .inactive-active-users .name h1 {
    margin-top: 20px;
    padding: 5px 10px;
    font-size: 20px;
    margin-bottom: 10px;
    background-color: var(--primary-color);
    color: white;
    display: inline-block;
    position: relative;
    border-radius: 0 90px 0 90px;

    
}


.dash-content .total-users .name ,
.dash-content .inactive-active-users .name  {
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--primary-color); 
    
}


.dash-content .total-users p,
.dash-content .inactive-active-users p {
    font-size: 1rem;
    margin-top: 5px;
}

/* Styling for label-number container */
.dash-content .label-number {
    display: flex;
    flex-direction: column;
    align-items: left;
}

/* Styling for label and number in label-number container */
.dash-content .label-number .label {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
}

.dash-content .label-number .number {
    font-size: 15px;
    color: var(--primary-color);
    font-weight: bold;
}

/* Number box styling */
.dash-content .number-box1 {
    display: inline-block;
    width: 100%;
    height: 90px;
    background-color: #f2f2f2;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    overflow: hidden;
    margin-top: 25px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0.2, 0.2);
    
    
}

.dash-content .number-box2 {
    display: inline-block;
    width: 100%;
    height: 90px;
    background-color: #f2f2f2;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    overflow: hidden;
    margin-top: 25px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0.2, 0.2);
   
}

/* Number line styling */
.dash-content .number-line {
    width: 100%;
    height: 15px;
    background-color: #ccc;
    border-radius: 10px;
}

/* Conditional styling based on numbers */
.dash-content .total-line {
    background: linear-gradient(to right, green 100%, transparent 0);
}

.dash-content .inactive-line {
    background: linear-gradient(to right, orange 66.6%, transparent 0);
}

.dash-content .active-line {
    background: linear-gradient(to right, green 50%, transparent 0);
}

.dashboard .dash-content{
    padding-top: 50px;
    z-index: 1;
}


.dash-content .boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    gap: 30px;
    overflow-x: auto;
    max-width: 100%;
    margin-top: 30px;
}
.dash-content .boxes .box{
    position: relative;
    width: 280px;
    height: auto;
    border: 1px solid #e8d7d7;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 0 10px;
    box-shadow:2px 3px 10px rgba(0,0,0,0.5);
   
}

.dash-content .boxes .box:hover{
    transform: scale(1.1);
   
}


.dash-content .boxes .add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-decoration: none;
    display: block;
}

.dash-content .boxes .plus-button {
    font-size: 2rem;
    width: 60px;
    height: 60px;
    background-color: var(--colorOrange);
    color: #ffffff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.dash-content .boxes .plus-button:hover {
    transform: scale(1.1);
    background-color: var(--primary-color);
}


.boxes .box button{
    font-size: 0.85rem;
    margin: 15px auto 10px; /* Center horizontally and add margin */
    padding: 10px 20px;
    background-color: var(--colorOrange);
    color: #f2f2f2;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    display: block; 

}

.boxes .box button:hover{
    background-color:var(--primary-color);

}

.boxes .box img{
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}
.boxes .box .text{
    text-transform: uppercase;
    font-size: 1rem;
    color: #7bb701;
    margin: 0;
    line-height: 1.5;
    padding-bottom: 10px;
    display: block;
    text-align: center;
    font-weight: bold;
}
/* Styling for label and number in label-number container */
.boxes .box .label {
    display: block;
    text-align: left;
    margin-left: 5px;
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: bold;
    font-size: 13px;
    padding-top: 5px;
}

.boxes .box .totalnumber,
.boxes .box .activenumber,
.boxes .box .inactivenumber {
    font-size: 12px;
    color: var(--primary-color);
    font-weight: bold;
    text-align: left;
    margin-left: 5px
}

.boxes .box .number-line {
    width: 100%;
    height: 10px;
    background-color: #ccc;
    border-radius: 10px;
}

/* Conditional styling based on numbers */
.boxes .box .totalline {
    background: linear-gradient(to right, green 100%, transparent 0);
}

.boxes .box .inactiveline {
    background: linear-gradient(to right, orange 66.6%, transparent 0);
}

.boxes .box .activeline {
    background: linear-gradient(to right, green 50%, transparent 0);
}

.coord{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    gap: 30px;
    overflow-x: auto;
    max-width: 100%;

}
.coord .box{
    margin-top: 30px;
    position: relative;
    width: 280px;
    height: auto;
    border: 1px solid #e8d7d7;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 0 10px;
    box-shadow:2px 3px 10px rgba(0,0,0,0.5);

}

.coord .box:hover{
    transform: scale(1.1);

}



.coord .box button{
    font-size: 0.85rem;
    margin: 15px auto; /* Center horizontally and add margin */
    padding: 10px 20px;
    background-color: var(--colorOrange);
    color: #f2f2f2;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    display: block; 
    margin-top: 0;

}

.coord .box button:hover{
    background-color:var(--primary-color);

}


.coord .box .text{
    padding-top: 5px;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--text-color);
    margin: 0;
    line-height: 1.5;
    padding-bottom: 0;
    display: block;
    text-align: center;
    font-weight: bold;
}

.coord .box .number {
    font-size: 5rem;
    color: var(--primary-color);
    font-weight: bold;
    text-align: left;
    margin-left: 5px;
    text-align: center;
    display: block; 
    padding-bottom: 0;
}

@media (max-width: 1000px) {
    nav{
        width: 73px;
    }
    nav.close{
        width: 250px;
    }

    nav.menu-items.close{
        display: none;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 1;
        pointer-events: auto;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 1;
        pointer-events: auto;
    }
    nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard{
        left: 250px;
        width: calc(100% - 250px);
    }
    nav ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard .top{
        left: 250px;
        width: calc(100% - 250px);
    }
    .activity .activity-data{
        overflow-X: scroll;
    }
    

    
}

@media (max-width: 780px) {
    .dash-content .boxes .box{
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }

    .top .heading h1{
        margin-left: 0;
        position: flex;
        text-align: center !important;
        font-size: 13px;
      
    }
    
    nav .logo-image,
    nav .logo-image img{
        size: 1px;
        justify-content: center;
     
    }
   
    .dash-content .user-stats{
        gap: 0;
        flex-direction: column;
        align-items: center;
        margin: 0;
     
    }
    .dash-content .user-stats .total-users h1,
    .dash-content .user-stats .inactive-active-users h1{
        font-size: 20px;
    }
    .dashboard .top{
        box-shadow:1px 0px 4px rgba(0,0,0,0.5);
    }
 
   .dashboard{
    z-index: 2;
   }
   .dash-content .total-users .name h1,
   .dash-content .inactive-active-users .name h1 {
    font-size: 15px;
    
}
   

}

@media (max-width: 560px) {
    .dash-content .boxes .box{
        width: 100% ;
    }
}
@media (max-width: 400px) {
    nav{
        width: 0px;
    }
    nav.close{
        width: 73px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav ~ .dashboard{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard .top{
        left: 0;
        width: 100%;
    }

    nav .logo-image,
    nav .logo-image img{
        display: none;
     
    }
}